@import "tailwindcss";

@theme {
  --font-sans: Inter, Segoe UI, Roboto, system-ui, sans-serif;
}

body {
  background-color: #18181b;
  font-family: var(--font-sans);
}

button {
  cursor: pointer;
}